<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="{{ .Site.BaseURL }}"><img src="https://gravatar.tamtam.nl/avatar/79720ddd3ad4329a97b6b02a9ac9a81f" class="avatar" />
      <h1>swordbeta</h1></a>
      <p class="subtitle">Michael van Tricht</p>
      <p class="lead">
        Developer &amp; Gopher
      </p>
      <p class="links">
        <a href="https://github.com/swordbeta" target="_blank"><img src="{{ .Site.BaseURL }}images/github.png" /></a>
        <a href="https://www.linkedin.com/in/michael-van-tricht-a6468927/" target="_blank"><img src="{{ .Site.BaseURL }}images/linkedin.png" /></a>
        <a href="https://steamcommunity.com/id/delishizu/" target="_blank"><img src="{{ .Site.BaseURL }}images/steam.png" /></a>
        <a href="https://twitter.com/swordbeta" target="_blank"><img src="{{ .Site.BaseURL }}images/twitter.png" /></a>
      </p>
      <p class="clear"></p>
    </div>
    <p>{{ with .Site.Params.copyright }}{{.}}{{ else }}&copy; {{ now.Format "2006"}}. All rights reserved. {{end}}</p>
  </div>
</div>